h1{
  font-family: monospace;  
}

h2{
    font-family: monospace;
}

p{
    font-family: monospace;
}

#d1 {
  background-color: crimson;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-style: italic;
  font-size: medium;
  padding: 100px 100px;
  border: 20px solid;
  border-color: darkblue;
}

#b1 {
  color: white;
  border: 10px solid;
  border-color: darkblue;
  text-align: center;
  padding: 15px 25px;
  background-color: black;
  display: inline-flexbox;
}


body {
  color:darkslategrey;
}